# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. SQL

### Some of the commonly used libraries used by Data Scientists include:

* Pandas
* Numpy
* Matplotlib
* seaborn
* sklearn
* scipy
* tensorflow
* Keras
* pickle

In [2]:
import pandas as pd
pd.DataFrame({'Data Science Tools':['Jyupiter Notebook','Tableau','Excel','R','NLTK']})

  Data Science Tools
0  Jyupiter Notebook
1            Tableau
2              Excel
3                  R
4               NLTK

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
5+5

10

In [4]:
10-5

5

In [5]:
3-5

-2

* This a simple arithmetic expression to mutiply then add integers.

In [9]:
(5*5)+6

31

In [16]:
(10/5)+5

7.0

*  This will convert 200 minutes to hours by diving by 60.

In [15]:
200/60

3.3333333333333335

## OBJECTIVES:

* Popular Languages of Data Science
* Commonly used libraries in Data Science
* Commonly used Data Science Tools

## Author 
 Karunasagar